/* Browser */
body{
    padding:0px;
    margin:0px;
}
/* Browser End */

/* Hamburger */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: rgb(255, 255, 255, 0);
  border: 0;
  margin: 0;
  overflow: visible; 
  }
  .hamburger:hover {}

  .hamburger.is-active:hover {}

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color:  #ffffff; 
    }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; 
  }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
    }
  
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
    }

  .hamburger-inner::before {
    top: -10px; 
    }

  .hamburger-inner::after {
    bottom: -10px; 
    }

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; 
  }

  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
    }

  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
    }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; 
  }

  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); 
    }

  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); 
    }    
/* End Hamburger */

/* Tests */

/* End Tests */

/* Main Page CSS */

.header{
  width:calc(100vw-6px);
  height:100vh;
  background-image: url(../images/reflection-sky-aircraft-cessna-c208b-caravan-wallpaper-preview.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size:cover;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  
}

.logo-container{
  height:75%;
  width:75%;
  margin-left:20px;
  background-image: url(../images/Original.svg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size:contain;
}

.logo-slogan-container{
  display:flex;
  flex-direction:row;
  height:253px;
  justify-content:space-between;
  align-items:center;
}

.slogan-container{
  width:auto;
  height:253px;
  display:flex;
  flex-direction:column;  
  margin-left:20px;
  margin-bottom:30px;
}

.business-name{
  color:black;
  font-size:65px;
  height:55px;
  margin-bottom:0px;
  margin-top:75px;
  font-family: 'Cinzel', serif;
}

.slogan{
  color:black;
  font-size:25px;
  width:auto;
  height:60px;
  font-family: 'Maven Pro', sans-serif;
  font-weight:bold;
  border-top: 1px solid white;
}

.header-nav{
  height:253px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: flex-start;
}

.header-menu-item{
  margin-bottom:20px;
  color:black;
  background-color: rgba(0,0,0,0);
  overflow: visible;
  font-size:40px;
  text-align:center;
  padding:0px;
  border:0px solid white;
  font-family: 'Maven Pro', sans-serif;
  outline: none;
  cursor: pointer;
  margin-right:20px;
}

  .header-menu-item:hover{
    border-bottom:3px solid black;
  }

  @media only screen and (max-width: 600px) {
    

  }

.home{
  height:calc(100vh-253px);
  width:100vw;
}

.about{
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
}

.about-top {
  width:90vw;
  height:40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}

.about-left{
  width:20vw;
  height:40vh;
  background-color:white;
  border:1px solid #35C0ED;
  border-radius: 15px;
}

.about-right{
  width:65vw;
  height:40vh;
  background-color:white;
  border:1px solid #35C0ED;
  border-radius: 15px;
}
.about-bottom {
  width:100vw;
  height:50vh;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  overflow:visible;
}

.about-bottom-item {
  display:flex;
  flex-direction: column;
  align-items:center;
  height:auto;  
  width: auto;
  border:0px solid #000000;
  border-radius: 15px;
  overflow:visible;
}
.review-pic {
  width: 8vw;
  height: 8vw;
  border:0px solid #35C0ED;
  border-radius: 50%;
  behavior: url(PIE.htc);
  background-color:white;
  text-align: center;
  text-justify: center;
}

.review-container{
 display:flex;
 flex-direction:column;
 align-items: center;
 justify-content: center;
 height:50vh;
 width:24vw;
 font-family: 'Libre Baskerville', serif;
 overflow:visible;
 
}

.top-review{
  width: 24vw;
  display:flex;
  flex-direction:row;
  justify-content: left;
  align-items: flex-end;
  margin-bottom:-5vh;
  z-index: 3;
  overflow:visible;
}

.review-title{
  font-size: 45px;
  overflow:visible;
  color:white;
  font-weight:bolder;
}

.bottom-review{
  display:flex;
  align-items:center;
  justify-content: center;
  z-index: 2;
 border-radius:10%;
  overflow:visible;

}

.actual-review{
  margin-top:5vh;
  width:30vw;
  height:5px;
  font-size: 40px;
  margin-bottom: 3px;
  overflow:visible;
  color:white;
  font-weight:bolder;
}

.services{
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
}
.services-item{
  width:90vw;
  height:60vh;
  background-color:white;
  border:1px solid #35C0ED;
  border-radius: 15px;
  
}

.split-services{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  border:0px solid #35C0ED;
  background-color:rgba(0, 0, 0, 0);
}

.service-split{
  width: 29vw;
  height:60vh;
  background-color:white;
  border:1px solid #35C0ED;
  border-radius: 15px;
}

.contact {
  height: 100vh;
  display:flex;
  flex-direction: row;
  justify-content:space-around;  
}
.contact-info-container {
  width:20vw;
  height:90vh;
  border:1px solid #35C0ED;
  border-radius: 15px;
  background-color:#ffffff;
}
.contact-form-container {
  width:60vw;
  height:90vh;
  border:1px solid #35C0ED;
  border-radius: 15px;
  background-color:#ffffff;
}

.home-image{
  height:1vh;
  width:100vw;
  background-color: rgba(0,0,0,0);
}

.contact-image{
  height:1vh;
  width:100vw;
  background-color: rgba(0,0,0,0);
}
.visible{
    z-index: 5;
}

.invisible{
    z-index:-1;
}

.hamburger-position{
    position:absolute;
    top:40px;
    right:5vw;
    z-index:5;
    outline:none;
}
.scroll-button{
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background-color: rgba(32, 29, 29, 0.1);
    display:flex;
    justify-content: center;
    align-items:center;
    outline:none;
}

    .scroll-button:hover{
        background-color: rgba(32, 29, 29, .7);
    }
    .scroll-button:hover > div{
        border: 5px solid rgba(255,255,255,.7);
        border-bottom: 0px;
        border-right: 0px;
    }
.up-button{
   position: absolute;
   top:40px;
   left:2vw;
}

.down-button{
   position: absolute;
   bottom:40px;
   left:2vw;
}

.arrow{
    height:20px;
    width:20px;
    border: 5px solid rgba(39, 39, 39, 0.2);
    border-bottom: 0px;
    border-right: 0px;
    border-radius: 0px 5px 0px 5px;
}

.up-arrow{
    transform: rotate(45deg);
    margin-top:10px;
}

.down-arrow{
    transform: rotate(225deg); 
    margin-bottom:10px;   
}

.main-content-container{
    width: 100vw;
    height:100vh;
    position: absolute;
    top:0px;
    z-index: 1; 
    overflow: hidden;    
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;  
    
}

.home-background{
  background-image: url(../images/wp2113384.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 100vw 100vh;    
}

.content-background{
  background-image: url(../images/SJBb7H.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 100vw 100vh;   
}

.open{
    width:100vw;
    height:100vh;
}

.closed{
    width:0px;
    height:0px;
    margin-left:50vw;
    margin-right:50vw;
    margin-top:50vh;
    margin-bottom:50vh;
}

.main-content{
    position: absolute;
    top:0px;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0);
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;  
    padding: 0px;
    margin:0px;
}

.main-content::-webkit-scrollbar { 
    width: 0;
}

.inner-content{
    width: 100vw;
    height:200vh;
}
.foot{
  width:100%;
  height:20px;
  z-index: 10;
  position: absolute;
  bottom:0;
  left:0;
  background-color:black;
  color:white;
  text-align: end;
}
/* Main End Page CSS */

/* Nav Page CSS */
.link-nav{
  background-color:black;
    background-image: url(../images/OriginalonTransparentnowords.png);
    /* background-position: center;   */
  background-repeat: no-repeat;
  background-size:contain;
    width:100vw;
    height:100vh;
    position: absolute;
    top:0px;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
    z-index: 0;
}

.menu-item-container{
    width:500px;
    height:auto;
    display:flex;
    flex-direction:column;
}

.menu-item{
    width:500px;
    height:60px;
    color: #ffffff;
    background-color: rgba(0,0,0,0);
    overflow: visible;
    font-size:80px;
    text-align:center;
    margin-bottom: 50px;
    padding:0px;
    border:0px solid white;
    font-family: 'Libre Baskerville', serif;
    /* font-family: 'Maven Pro', sans-serif; */
    outline: none;
    cursor: pointer;
}

    .menu-item:hover{
        font-size:90px;
    } 

/* End Nav Page CSS */

.maketrasition {
  -webkit-transition: background 1s ease-in-out;
-moz-transition: background 1s ease-in-out;
-o-transition: background 1s ease-in-out;
-ms-transition: background 1s ease-in-out;    
transition: background 1s ease-in-out;
}

.test-pic{
  background-image: url(../images/person.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover
}
.test-pic2{
  background-image: url(../images/person2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover
}
.test-pic3{
  background-image: url(../images/person3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover
}